
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container-fluid" style="min-height: 10rem;">
    <div class="row">
        <div class="col-lg-2">
            <!--
            <ul class="drop-down" style="display: block;">
                <li><a href="">Kullanıcılar</a></li>
                <li><a href="">Randevular</a></li>
                <li><a href="">Personeller</a></li>
                <li><a href="">Ana Sayfa Slider</a></li>
              </ul>         -->
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4">Menu</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="#" name="our_doctors" class="nav-link side-bar active">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            Doktorlar
                        </a>
                    </li>
                    <li>
                        <a href="#" name="appointments" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                            Randevular
                        </a>
                    </li>
                    <li>
                        <a href="#" name="users" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            Kullanıcılar
                        </a>
                    </li>
                    <li>
                        <a href="#" name="work_times" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            Çalışma Saatleri
                        </a>
                    </li>
                    <li>
                        <a href="#" name="create_appointments" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            Çalışma Saati Oluştur
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="@Url.Action("LogOut", "Home")" class="d-flex align-items-center link-dark text-decoration-none" aria-expanded="false">
                        <strong>Log Out</strong>
                    </a>

                </div>
            </div>
        </div>


        <div id="menu-our_doctors" class="col-lg-10">
            <table class="table table-striped admin-table" style="width:100%;">
                <thead>
                    <tr>
                        <th>İsim-Soyisim</th>
                        <th>Email</th>
                        <th>Parola</th>
                        <th>Oluşturma Tarihi</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in (@ViewBag.doctors as ICollection<AllUsersInfo>))
                    {
                        <tr>
                            <td>@user.UserFirstName+ @user.UserSecondName</td>
                            <td>@user.UserEmail</td>
                            <td>@user.Password</td>
                            <td>@user.CreatedDate</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div id="menu-appointments" class="col-lg-10" style="display:none">
            <table class="table table-striped admin-table" style="width:100%">
                <thead>
                    <tr>
                        <th>İsim-Soyisim</th>
                        <th>Randevu Yeri</th>
                        <th>Doktor</th>
                        <th>Randevu Saati</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Halil Akyıldız</td>
                        <td>Ortapedi ve Travmatoloji</td>
                        <td>Tiger Nixon</td>
                        <td>2011-04-25 12:00</td>
                        <td><a class="doctor-detay" href="#">Detay</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div id="menu-work_times" class="col-lg-10" style="display:none">
            <table class="table table-striped admin-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Doktor</th>
                        <th>Poliklinik</th>
                        <th>Ana Dal</th>
                        <th>Çalışma Başlangıç</th>
                        <th>Çalışma Bitiş</th>
                        <th>Oluşturma Tarihi</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var time in (@ViewBag.workTimes as ICollection<AllWorkTimes>))
                    {
                        <tr>
                            <td>@time.UserFirstName @time.UserSecondName</td>
                            <td>@time.PoliclinicName</td>
                            <td>@time.ScienceName</td>
                            <td>@time.StartDate</td>
                            <td>@time.EndDate</td>
                            <td>@time.CreatedDate</td>
                        </tr>
                        }                                        
                    

                </tbody>
            </table>
        </div>
        <div id="menu-users" class="col-lg-10" style="display:none">
            <table class="table table-striped admin-table" style="width:100%">
                <thead>
                    <tr>
                        <th>İsim-Soyisim</th>
                        <th>Email</th>
                        <th>Kullanıcı Tipi</th>
                        <th>Parola</th>
                        <th>Son Giriş Tarihi</th>
                        <th>Kayıt Tarihi</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in (@ViewBag.users as ICollection<AllUsersInfo>))
                    {
                        <tr>
                            <td>@user.UserFirstName @user.UserSecondName</td>
                            <td>@user.UserEmail</td>
                            <td>@user.TypeName</td>
                            <td>@user.Password</td>
                            <td>@user.LastLoginDate</td>
                            <td>@user.CreatedDate</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div id="menu-create_appointments" class="col-lg-10" style="display:none">
            <form action="/Home/AddDoctorWorkTime" method="post">
                <div class="form-group w-50">
                    <label for="MainScienceBranch">Doktor seçiniz:</label>
                    <select name="doctor" class="form-control">
                        @foreach (var doctor in (@ViewBag.doctors as ICollection<AllUsersInfo>))
                        {
                            <option value="@doctor.UserId">@doctor.UserFirstName @doctor.UserSecondName</option>                            
                        }
                    </select>
                </div><br>
                <div class="form-group w-50">
                    <label for="Policlinic">Poliklinik Seçiniz:</label>
                    <select name="policlinic" class="form-control">

                        @foreach (var policlinic in (@ViewBag.policlinics as ICollection<AllPoliclinics>))
                        {
                            <option value="@policlinic.PoliclinicId">@policlinic.PoliclinicName</option>
                        }
                    </select>
                </div><br>
                <div class="form-group w-50">
                    <label for="MainBranch">Poliklinik Seçiniz:</label>
                    <select name="main_branch" class="form-control">

                        @foreach (var branchs in (@ViewBag.branchs as ICollection<AllScienceBranchs>))
                        {
                            <option value="@branchs.MainScienceBranchıd">@branchs.ScienceName</option>
                        }
                    </select>
                </div><br>
                <div class="form-group w-50">
                    <label for="birthday">Başlangıç Tarihi:</label>
                    <input type="date" id="birthday" class="form-control w-50" name="start_date">
                    <label for="birthday">Başlangıç Saati:</label><br>
                    <input type="time" id="birthday" class="form-control w-50" name="start_time"><br>
                </div>
                <div class="form-group w-50">
                    <label for="birthday">Bitiş Tarihi:</label>
                    <input type="date" id="birthday" class="form-control w-50" name="end_date">
                    <label for="birthday">Bitiş Saati:</label><br>
                    <input type="time" id="birthday" class="form-control w-50" name="end_time"><br><hr>
                    <button type="submit" class="btn btn-primary">Oluştur</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="pop-up">
    <div class="position-absolute top-0 end-0">
        <a id="pop-up" class="btn btn-info" href="#" role="button">X</a>
    </div>
    <h2 class="text-center">Halil Akyıldız</h2>
    <hr>
    <div class="card col-lg-3 col-md-4 col-sm-6 d-inline-block">
        <img class="card-img-top" src="./img/doctors/d1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem, ipsum dolor.</p>
        </div>
    </div>
    <div class="d-inline-block">
        <h4>Yaş: 38</h4>
        <h4>Tecrübe: 10</h4>
        <h4>Uzmanlık: Ortapedi ve Travmatoloji</h4>
    </div>
</div>